<%= helpers.irelia_dropdown(direction:, open:) do |dropdown| %>
  <% dropdown.with_custom_trigger(html_options: { class: "w-full" }) do %>
    <%= content_tag :div, html_options do %>
      <div class="irelia-account-switcher__selected">
        <div class="irelia-account-switcher__avatar">
          <img src="<%= avatar %>" />
        </div>
        <div class="irelia-account-switcher__content">
          <div class="irelia-account-switcher__account_name"><%= team_name %></div>
          <div class="irelia-account-switcher__user_name"><%= name %></div>
        </div>
        <div class="irelia-account-switcher__icon ml-auto">
          <%= helpers.irelia_icon { "fa fa-caret-down" } %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%
    accounts.each do |account|
      dropdown.with_item(url: account.url, right_icon: account.icon) { account.account_name }
    end
  %>
<% end %>
