<%= irelia_stack do %>
  <%= irelia_stack direction: :vertical, items: :center do %>
    <%= irelia_icon { "fas fa-home" } %>
    <span>fas fa-home</span>
  <% end %>
  <%= irelia_stack direction: :vertical, items: :center do %>
    <%= irelia_icon { "fas fa-user" } %>
    <span>fas fa-user</span>
  <% end %>
  <%= irelia_stack direction: :vertical, items: :center do %>
    <%= irelia_icon { "fab fa-github" } %>
    <span>fab fa-github</span>
  <% end %>
  <%= irelia_stack direction: :vertical, items: :center do %>
    <%= irelia_icon { "fab fa-facebook" } %>
    <span>fab fa-facebook</span>
  <% end %>
  <!-- Add more icons as needed -->
<% end %>

<br>
<strong>For full icon list, check:</strong><br>
<a href="https://fontawesome.com/search?o=r&m=free" target="_blank">https://fontawesome.com/search</a>
