<%= content_tag :div, html_options do %>
  <%= sidebar if sidebar %>
  <main class="irelia-app-shell--main">
    <% if breadcrumbs %>
      <div class="irelia-app-shell--breadcrumbs-container">
        <%= breadcrumbs %>
      </div>
    <% end %>

    <% if sub_menu %>
      <div class="irelia-app-shell--sub_menu-container">
        <%= sub_menu %>
      </div>
    <% end %>

    <%= content %>
  </main>
<% end %>
