<%= content_tag :div, group_options do %>
  <% if label_text %>
    <label for="<%= field_id(object_name, method) %>"><%= label_text %></label>
  <% end %>

  <%= content %>

  <% if has_hint? %>
    <div class="irelia-group__hint">
      <%= hint_text %>
    </div>
  <% end %>

  <% if has_errors? %>
    <div class="irelia-group__errors">
      <%= error_messages  %>
    </div>
  <% end %>
<% end %>
